.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  &__title {
    text-align: center;
    font-size: 100px;
  }
  &__form {
    width: 50%;
  }
  &__toggleThemeBtn {
    position: fixed;
    right: 10px;
    top: 10px;
  }
  &__link {
    color: #6495ed;
    font-weight: bold;
    padding: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}
