.header {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  max-height: 7vh;
  color: var(--text-primary);
  &__profileSection {
    width: 50%;
  }
  &__iconsSection {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
  }
  &__showSideBarIconBtn {
    all: unset;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__showSideBarIconBtn {
      display: inline;
    }
  }
}
