.chatScreen {
  width: 75%;
  overflow-y: hidden;
  position: relative;
}
.chatSection {
  background-color: #2d2d2d;
  background-image: url("../../../public/images/backgrounds/bg.png");
  overflow-y: auto;
  padding-top: 50px;
  height: 93vh;
  max-height: 93vh;
  &::-webkit-scrollbar {
    display: none !important;
  }
}
