.chatScreen {
  width: 75%;
  overflow-y: hidden;
  position: relative;
}
.chatSection {
  background-color: var(--bg-primary);
  background-image: url("../../../public/images/backgrounds/bg.png");
  overflow-y: auto;
  padding-top: 50px;
  height: 93vh;
  max-height: 93vh;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .chatScreen {
    width: 100%;
  }
}
