.form {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  &__label {
    width: 50%;
    text-align: center;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
  }
  &__input {
    width: 100%;
    padding: 20px 10px;
    border: none;
    border-right-color: transparent;
    font-size: 22.5px;
    outline: none;
  }
  &__btn {
    padding: 0px 20px 0px 10px;
    border-left-color: transparent;
    font-size: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    &:hover {
      color: cornflowerblue;
    }
  }
}
