.form {
  &__label {
    width: 50%;
    color: white;
    display: inline-block;
    margin: 10px 0px;
  }
  &__input {
    width: 100%;
    padding: 10px 5px;
    font-size: 25px;
    border-radius: 5px;
  }
  &__input[type="reset"],
  &__input[type="submit"] {
    width: 50%;
    font-weight: bold;
    cursor: pointer;
  }
  &__input[type="reset"] {
    &:hover {
      background-color: crimson;
      border-color: crimson;
      color: white;
    }
  }
  &__input[type="submit"] {
    &:hover {
      background-color: #30b630;
      border-color: #30b630;
      color: white;
    }
  }
}
