.form {
  &__label {
    width: 50%;
    color: var(--text-primary);
    display: inline-block;
    margin: 10px 0px;
  }
  &__input {
    width: 100%;
    padding: 10px 5px;
    font-size: 25px;
    border-radius: 5px;
  }
  &__input[type="reset"],
  &__input[type="submit"] {
    width: 50%;
    font-weight: bold;
    cursor: pointer;
    &:disabled {
      color: var(--text-tertiary);
      border-color: var(--border-color-secondary);
      box-shadow: 0px 0px 7.5px -6px black;
      &:hover {
        background-color: var(--text-tertiary);
      }
    }
  }
  &__input[type="reset"] {
    color: var(--color-danger);
    border: 3px solid var(--border-color-danger);
    &:hover {
      background-color: var(--color-danger);
      color: white;
    }
  }
  &__input[type="submit"] {
    color: var(--color-success);
    border: 3px solid var(--border-color-success);
    &:hover {
      background-color: var(--color-success);
      color: white;
    }
  }
}
